.item_container {
  width: 50%;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

.item_text {
  font-size: 20px;
  width: 65%;
  height: max-content;
  word-break: break-all;
  padding: 10px;
  margin: 5px;
}

.item_button_container {
  width: 13em;
  display: flex;
  justify-content: space-around;
}

.item_update_button {
  border: hidden;
  width: 7em;
  height: 3em;
  border-radius: 5px;
  margin: 5px;
  color: #ffffff;
  background-color: #99e374;
}

.item_delete_button {
  border: hidden;
  width: 7em;
  height: 3em;
  border-radius: 5px;
  margin: 5px;
  color: #ffffff;
  background-color: #e37474;
}

//unfinished hash searching
.usual-text {
  font-size: 20px;
  background-color: #ffffff;
  margin: 5px;
}

.hash {
  font-size: 20px;
  background-color: #ffabab70;
  border-radius: 5px;
  margin: 5px;
}

