.update_menu {
  background-color: #c2f4cc;
  width: 90%;
  margin: 0 auto 0;
  padding: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.update_menu_form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media only screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.update_menu_input {
  width: 70%;
  margin: 0;
  height: 2rem;
  padding-left: 1em;
  outline: none;
  border: hidden;
  border-radius: 5px;
  font-size: 15px;
  font-family: cursive;
}

.update_menu_button {
  width: 10%;
  height: 3em;
  border: hidden;
  border-radius: 5px;
  color: #ffffff;
  background-color: #00a51e;
  font-size: 15px;
  font-family: cursive;
  @media only screen and (max-width: 480px) {
    margin: 5px;
    width: 30%;
  }
}
